body {
    width: auto;
    height: auto;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 4px;
}
h1 {
    text-align: center; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#youtube-frame {
    width: 100%;
    min-width: 350px;
    max-width: 800px;
    place-self: center;
}
#youtube-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
}
#youtube {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border: none;
}